.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.link {
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
}

.bookcover {
  width: auto;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.32);
}

.logo {
  width: 160px;
  height: auto;
  margin-bottom: 32px;
}
